* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  /* background-color: #826afb; */
  margin-top: 7rem;
}

form {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  padding: 25px 25px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
  font-size: 30px;
  text-align: center;
}

form .input {
  margin-top: 20px;
}

.input .field {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  color: #333;
  margin-top: 20px;
}

.input .fieldmess {
  height: 200px;
  resize: none;
}

form button {
  width: 100%;
  height: 55px;
  background-color: #826afb;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-top: 25px;
  transition: 0.5s;
}

form button:hover {
  background-color: #624ec6;
}
